<a href="https://colab.research.google.com/github/adigenova/uohpmd/blob/main/code/Haddop_nextflow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hadoop

## Calcular el promedio

In [1]:
%%writefile mapper1.py
#!/usr/bin/env python
import sys

# Lee líneas de entrada desde la entrada estándar
for line in sys.stdin:
    number = float(line.strip())
    # Emite el número como clave y valor
    print("Total", number)
    print("Count", 1)

Writing mapper1.py

In [2]:
!chmod 777 /content/mapper1.py /content/reducer1.py

chmod: cannot access '/content/reducer1.py': No such file or directory

In [3]:
%%writefile reducer1.py
#!/usr/bin/env python
import sys

current_key = None
total = 0
count = 0

# Lee líneas de entrada desde la entrada estándar
for line in sys.stdin:
    key, value = line.strip().split(" ")
    value = float(value)

    if key == "Total":
        total += value
    elif key == "Count":
        count += int(value)

# Calcula el promedio
average = total / count
print("Average", average)

Writing reducer1.py

In [5]:
!seq 1 100 | python mapper1.py

Total 1.0
Count 1
Total 2.0
Count 1
Total 3.0
Count 1
Total 4.0
Count 1
Total 5.0
Count 1
Total 6.0
Count 1
Total 7.0
Count 1
Total 8.0
Count 1
Total 9.0
Count 1
Total 10.0
Count 1
Total 11.0
Count 1
Total 12.0
Count 1
Total 13.0
Count 1
Total 14.0
Count 1
Total 15.0
Count 1
Total 16.0
Count 1
Total 17.0
Count 1
Total 18.0
Count 1
Total 19.0
Count 1
Total 20.0
Count 1
Total 21.0
Count 1
Total 22.0
Count 1
Total 23.0
Count 1
Total 24.0
Count 1
Total 25.0
Count 1
Total 26.0
Count 1
Total 27.0
Count 1
Total 28.0
Count 1
Total 29.0
Count 1
Total 30.0
Count 1
Total 31.0
Count 1
Total 32.0
Count 1
Total 33.0
Count 1
Total 34.0
Count 1
Total 35.0
Count 1
Total 36.0
Count 1
Total 37.0
Count 1
Total 38.0
Count 1
Total 39.0
Count 1
Total 40.0
Count 1
Total 41.0
Count 1
Total 42.0
Count 1
Total 43.0
Count 1
Total 44.0
Count 1
Total 45.0
Count 1
Total 46.0
Count 1
Total 47.0
Count 1
Total 48.0
Count 1
Total 49.0
Count 1
Total 50.0
Count 1
Total 51.0
Count 1
Total 52.0
Count 1
Total 53.0
Count 1
Total 54.0
Count 1
Total 55.0
Count 1
Total 56.0
Count 1
Total 57.0
Count 1
Total 58.0
Count 1
Total 59.0
Count 1
Total 60.0
Count 1
Total 61.0
Count 1
Total 62.0
Count 1
Total 63.0
Count 1
Total 64.0
Count 1
Total 65.0
Count 1
Total 66.0
Count 1
Total 67.0
Count 1
Total 68.0
Count 1
Total 69.0
Count 1
Total 70.0
Count 1
Total 71.0
Count 1
Total 72.0
Count 1
Total 73.0
Count 1
Total 74.0
Count 1
Total 75.0
Count 1
Total 76.0
Count 1
Total 77.0
Count 1
Total 78.0
Count 1
Total 79.0
Count 1
Total 80.0
Count 1
Total 81.0
Count 1
Total 82.0
Count 1
Total 83.0
Count 1
Total 84.0
Count 1
Total 85.0
Count 1
Total 86.0
Count 1
Total 87.0
Count 1
Total 88.0
Count 1
Total 89.0
Count 1
Total 90.0
Count 1
Total 91.0
Count 1
Total 92.0
Count 1
Total 93.0
Count 1
Total 94.0
Count 1
Total 95.0
Count 1
Total 96.0
Count 1
Total 97.0
Count 1
Total 98.0
Count 1
Total 99.0
Count 1
Total 100.0
Count 1

In [8]:
!seq 1  10000 | python mapper1.py | python reducer1.py

Average 5000.5

## ventas por producto

In [9]:
%%writefile data.txt
Fecha,Producto,Cantidad,PrecioUnitario
2023-10-23,ProductoA,5,10.0
2023-10-23,ProductoB,3,15.0
2023-10-24,ProductoA,2,10.0
2023-10-24,ProductoC,1,20.0
2023-10-25,ProductoB,4,15.0
2023-10-25,ProductoC,2,20.0
2023-10-26,ProductoA,3,10.0
2023-10-26,ProductoB,2,15.0
2023-10-27,ProductoC,3,20.0
2023-10-27,ProductoD,1,25.0

Writing data.txt

In [10]:
%%writefile mapper2.py

#!/usr/bin/env python
import sys

# Lee líneas de entrada desde la entrada estándar
for line in sys.stdin:
    # Divide la línea en campos
    fields = line.strip().split(",")
    if len(fields) == 4:
        date, product, quantity, price = fields
        # Emite el producto como clave y la cantidad como valor
        print(f"{product}\t{quantity}")

Writing mapper2.py

In [11]:
%%writefile reducer2.py

#!/usr/bin/env python
import sys

current_product = None
total_quantity = 0

# Lee líneas de entrada desde la entrada estándar
for line in sys.stdin:
    product, quantity = line.strip().split("\t")
    quantity = int(quantity)

    if product == current_product:
        total_quantity += quantity
    else:
        if current_product:
            print(f"{current_product}\t{total_quantity}")
        current_product = product
        total_quantity = quantity

if current_product:
    print(f"{current_product}\t{total_quantity}")

Writing reducer2.py

In [19]:
!cat data.txt | grep -v "Cantidad" |python mapper2.py | sort -k1,1 |python reducer2.py

ProductoA	10
ProductoB	9
ProductoC	6
ProductoD	1

## Puntajes de Peliculas.

In [20]:
%%writefile movie_data.txt
UserID,MovieID,Rating,Timestamp
1,101,4,964982703
1,102,3,964982703
1,103,5,964982703
2,101,5,964982703
2,103,2,964982703
2,104,4,964982703
3,102,4,964982703
3,104,3,964982703
3,105,2,964982703
4,101,3,964982703
4,105,5,964982703
4,106,4,964982703
5,102,4,964982703
5,106,5,964982703
5,107,2,964982703
6,101,4,964982703
6,103,3,964982703
6,108,5,964982703
7,102,5,964982703
7,108,4,964982703
7,109,3,964982703
8,101,2,964982703
8,103,4,964982703
8,110,5,964982703
9,102,4,964982703
9,110,3,964982703
9,111,2,964982703
10,101,5,964982703
10,111,3,964982703
10,112,4,964982703
11,103,5,964982703
11,112,4,964982703
11,113,3,964982703
12,101,2,964982703
12,113,5,964982703
12,114,4,964982703
13,102,3,964982703
13,114,5,964982703
13,115,4,964982703
14,101,4,964982703
14,103,5,964982703
14,115,3,964982703
15,102,2,964982703
15,116,4,964982703
15,117,5,964982703
16,101,3,964982703
16,116,4,964982703
16,118,5,964982703
17,102,4,964982703
17,118,3,964982703
17,119,2,964982703
18,101,5,964982703
18,103,4,964982703
18,119,3,964982703
19,102,3,964982703
19,119,4,964982703
19,120,5,964982703
20,101,2,964982703
20,103,5,964982703
20,120,4,964982703
21,102,4,964982703
21,120,5,964982703
21,121,3,964982703
22,101,3,964982703
22,121,5,964982703
22,122,4,964982703
23,102,5,964982703
23,122,3,964982703
23,123,2,964982703
24,101,4,964982703
24,123,5,964982703
24,124,3,964982703
25,102,2,964982703
25,124,4,964982703
25,125,5,964982703

Writing movie_data.txt

In [21]:
%%writefile mapper3.py

#!/usr/bin/env python
import sys

# Lee líneas de entrada desde la entrada estándar
for line in sys.stdin:
    # Divide la línea en campos
    fields = line.strip().split(",")
    if len(fields) == 4:
        user, movie, rating, timestamp = fields
        # Emite el MovieID como clave y la calificación como valor
        print(f"{movie}\t{rating}")

Writing mapper3.py

In [22]:
%%writefile reducer3.py
#!/usr/bin/env python
import sys

current_movie = None
total_rating = 0
total_reviews = 0

# Lee líneas de entrada desde la entrada estándar
for line in sys.stdin:
    movie, rating = line.strip().split("\t")
    rating = int(rating)

    if movie == current_movie:
        total_rating += rating
        total_reviews += 1
    else:
        if current_movie:
            average_rating = total_rating / total_reviews
            print(f"{current_movie}\t{average_rating:.2f}")
        current_movie = movie
        total_rating = rating
        total_reviews = 1

if current_movie:
    average_rating = total_rating / total_reviews
    print(f"{current_movie}\t{average_rating:.2f}")

Writing reducer3.py

In [30]:
!cat movie_data.txt  | python mapper3.py |grep -v "Movie" | sort -k1,1 | python reducer3.py | sort -nr -k2,2

125	5.00
117	5.00
120	4.67
114	4.50
108	4.50
106	4.50
103	4.12
121	4.00
118	4.00
116	4.00
113	4.00
112	4.00
110	4.00
102	3.58
101	3.54
124	3.50
123	3.50
122	3.50
115	3.50
105	3.50
104	3.50
119	3.00
109	3.00
111	2.50
107	2.00

## Multiplicacion de matrices con Hadoop

In [31]:
!seq 1 100 | awk '{i++;print "A,"i","int(rand()*20); if(i==10){i=0}}' > matrix_in.txt
!seq 1 100 | awk '{i++;print "B,"i","int(rand()*20); if(i==10){i=0}}' >> matrix_in.txt
! head matrix_in.txt
! tail matrix_in.txt

A,1,10
A,2,14
A,3,7
A,4,13
A,5,6
A,6,0
A,7,2
A,8,7
A,9,1
A,10,4
B,1,5
B,2,7
B,3,5
B,4,14
B,5,14
B,6,12
B,7,2
B,8,17
B,9,11
B,10,11